  <div class="container">
    <h1>Player vs. Player Leaderboards</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Rating</th>
            <th scope="col">Player</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players | async, let i = index">
            <th scope="row">{{ i+1}}</th>
            <td>{{ player.rating }}</td>
            <td>{{ player.name }} {{ player.surname }}</td>
            <td>{{ player.wins }}</td>
            <td>{{ player.losses }}</td>
          </tr>
        </tbody>
      </table>
  </div>
